<!-- 
<button mat-button class="menu-custom" routerLink="home">Home</button>
<button mat-button [matMenuTriggerFor]="menu" class="menu-custom">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="students-list">Students</button>
  <button mat-menu-item routerLink="exams-list">Exams</button>
</mat-menu>
 -->

<mat-toolbar color="primary">
  <a routerLink="home" mat-button>Home</a>
  <a routerLink="students-table" mat-button>Students</a>
</mat-toolbar>
